.navbar>.container-fluid {
    display: flex;
    flex-wrap: nowrap;
   
	justify-content: flex-start;
}
.svg-border-rounded[data-v-6dabddb2] {
    position: relative;
}
.h2{
  text-align:center;
  padding: 20px;
}
/* Slider */
	#footer {
    background: #c1c1c1;
    padding: 0 0 30px 0;
    color: #444444;
    font-size: 14px;
    background: #7352b0;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #0d58ba;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ffc107;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ffc107;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}
	.bg-gred{
background: rgb(255 252 244);
background: linear-gradient(45deg, rgba(255,250,236,0.9612219887955182) 8%, rgba(255,255,255,1) 67%)!important;

	}
	.text-be {
    color: #7352b0!important;
}
	.btn-or {
    background: #7e57c2;
    border-color: #263238;
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: #7e57c2 !important;
}
.btn-outline-secondary {
    color: #ffffff!important;
    background: #7e57c2;
    border-color: #ffffff!important;
}
.bg-light {
    background-color: #ffffff !important;
   
}
      .v-hl-btn[data-v-45080727] {
        position: absolute;
        align-self: center;
        z-index: 1;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        cursor: pointer
      }

      .v-hl-btn-prev[data-v-45080727] {
        left: 0
      }

      .v-hl-btn-prev.v-hl-btn-between[data-v-45080727] {
        transform: translateX(-50%)
      }

      .v-hl-btn-next[data-v-45080727] {
        right: 0
      }

      .v-hl-btn-next.v-hl-btn-between[data-v-45080727] {
        transform: translateX(50%)
      }

      .v-hl-svg[data-v-45080727] {
        width: 40px;
        height: 40px;
        margin: 6px;
        padding: 6px;
        border-radius: 20px;
        box-sizing: border-box;
        background: #fff;
        color: #000;
        fill: currentColor;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
      }

      .v-hl-container[data-v-45080727] {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        box-sizing: content-box;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch
      }

      .v-hl-container>*[data-v-45080727] {
        flex-shrink: 0;
        box-sizing: border-box;
        min-height: 1px
      }

      .v-hl-snap-start>*[data-v-45080727] {
        scroll-snap-align: start
      }

      .v-hl-snap-center>*[data-v-45080727] {
        scroll-snap-align: center
      }

      .v-hl-snap-end>*[data-v-45080727] {
        scroll-snap-align: end
      }

      .v-hl-container[data-v-45080727]:not(.v-hl-scroll) {
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 30px;
        margin-bottom: -30px;
        clip-path: inset(0 0 30px 0)
      }

      .v-hl-container[data-v-45080727]:not(.v-hl-scroll)::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important
      }

      .v-hl-responsive>*[data-v-45080727] {
        width: 100%;
        margin-right: 24px
      }

      .v-hl-responsive[data-v-45080727]>:last-child {
        margin-right: 0
      }

      @media (min-width:640px) {
        .v-hl-responsive>*[data-v-45080727] {
          width: calc((100% - 24px)/ 2)
        }
      }

      @media (min-width:768px) {
        .v-hl-responsive>*[data-v-45080727] {
          width: calc((100% - 48px)/ 3)
        }
      }

      @media (min-width:1024px) {
        .v-hl-responsive>*[data-v-45080727] {
          width: calc((100% - 72px)/ 4)
        }
      }

      @media (min-width:1280px) {
        .v-hl-responsive>*[data-v-45080727] {
          width: calc((100% - 96px)/ 5)
        }
      }
	
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #106eea;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3284f1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# priceing section
--------------------------------------------------------------*/
.demo {
    padding: 30px 0
}

.pricingTable {
    text-align: center
}

a {
    text-decoration: none;
}

.pricingTable {
    text-align: center;
    background: #fff;
   
    box-shadow: 0 0 10px #ababab;
    padding-bottom: 40px;
    border-radius: 10px;
    color: #cad0de;
    transform: scale(1);
    transition: all .5s ease 0s
}

.pricingTable:hover {
    transform: scale(1.05);
    z-index: 1
}

.pricingTable .pricingTable-header {
    padding: 40px 0;
    background: #f5f6f9;
    border-radius: 10px 10px 50% 50%;
    transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable-header {
    background: #ff9624
}

.pricingTable .pricingTable-header i {
    font-size: 50px;
    color: #858c9a;
    margin-bottom: 10px;
    transition: all .5s ease 0s
}

.pricingTable .price-value {
    font-size: 35px;
    color: #ff9624;
    transition: all .5s ease 0s
}

.pricingTable .month {
    display: block;
    font-size: 14px;
    color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
    color: #fff
}

.pricingTable .heading {
    font-size: 24px;
    color: #ff9624;
    margin-bottom: 20px;
    text-transform: uppercase
}

.pricingTable .pricing-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
    line-height: 30px;
    color: #a7a8aa
}

.pricingTable .pricingTable-signup a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 35px;
    border-radius: 20px;
    background: #ffa442;
    text-transform: uppercase;
    transition: all .3s ease 0s
}

.pricingTable .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ffa442
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
    color: #4b64ff
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
    background: #4b64ff
}

.pricingTable.blue .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #4b64ff
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
    color: #ff4b4b
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
    background: #ff4b4b
}

.pricingTable.red .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #ff4b4b
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
    color: #40c952
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
    background: #40c952
}

.pricingTable.green .pricingTable-signup a:hover {
    box-shadow: 0 0 10px #40c952
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
    color: #fff
}

@media screen and (max-width:990px) {
    .pricingTable {
        margin: 0 0 20px
    }
}
/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #fefefe;
    box-shadow: 0 0 5px 0px rgb(115 82 176);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
    background: #7e57c2;
    top: 0;
    border-radius: 0px;
}
.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
    font-size: 48px;
    line-height: 1;
    color: #ffc107;
    transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
    color: #7e57c2;
    text-decoration: none;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services .icon-box:hover .icon i {
  color: #fff;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    color: #222222;
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    background: #7352b0;
    display: inline-block;
    transition: ease-in-out 0.3s;
    color: #fff;
}

.team .member .social a:hover {
    background: #ffc107;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}
